{% include "head.html" %}
<script type="text/javascript">
    $('html').css('overflow', 'scroll');
</script>
<div class="ui grid">
    <div class="one wide column"></div>
    <div class="fourteen wide column">
        <div class="ui blue message">
            <!--<i class="close icon"></i>-->

            <div class="header">
                Clustered Photos
            </div>
            <p>These are clustering of existing photos in the system, based on their descriptions.</p>

            <p>Note: The cron task will be run every day to generate the cluster topics.</p>
        </div>

        <div class="ui grid" id="grid">
            <div class="sixteen wide column">
                <div class="ui segment" id="recommendation_loading">
                    <div class="ui inverted active dimmer">
                        <div class="ui text loader">Getting clusters for you. Please wait...</div>
                    </div>
                </div>

            </div>


        </div>
        <div class="one wide column"></div>
    </div>
</div>

<script type="text/javascript">


    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: 'getCluster',
            success: function (response) {
                console.log(response);
                var html = "";
                for (var i = 0; i < response.length; i++) {
                    var cluster = response[i];
                    var cluster_html = '<div class="sixteen wide column"><h1 class="ui header">' + cluster.topTerm + '</h1></div>';
                    for (var j = 0; j < cluster.clusterPhoto.length; j++) {
                        var photo = cluster.clusterPhoto[j];
                        var photo_html = '<div class="four wide column"> <div class="ui card"><div class="image">';
                        photo_html += '<img class="photo" id="' + photo.photoId + '" src="' + photo.url + '"></div>';
                        photo_html += '<div class="content"><a class="header"></a>';
                        photo_html += '<div class="meta"><span class="date">' + photo.date + '</span></div>';
                        photo_html += '<div class="description">' + photo.description + '</div></div>';
                        photo_html += '<div class="extra content"><a><i class="star icon"></i>From user: ' + photo.username + '</a></div></div></div>';
                        cluster_html += photo_html;
                    }
                    html += cluster_html;

                }
                $('#grid').html(html);
                $('.photo').click(function () {
                    var photoId = $(this).attr('id');
                    showPicture(photoId);
                });
            },
            error: function (err) {
                console.log(err);
            },
            dataType: 'json'
        });

    });

</script>


{% include "footer.html" %}