<div class="ui small modal" id="modal_sign_up">
    <i class="close icon"></i>

    <div class="header">
        Sign Up
    </div>
    <div class="content">
        <div class="description">
            <div class="ui error message" id="signup_error">
                <div class="header" id="signup_error_title">Network error</div>
                <p id="signup_error_message">Can't connect to the login server.</p>
            </div>
            <div class="ui form" id="signup_form">
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" id="signup_email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" id="signup_password">
                </div>

                <div class="field">
                    <label>Nick name</label>
                    <input type="text" name="nickname" id="signup_nickname">
                </div>
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive right labeled icon button" id="btn_signup_action">
            Sign up!
            <i class="edit icon"></i>
        </div>
        <div class="ui black button">
            Close
        </div>
    </div>
</div>

<div class="ui small modal" id="modal_sign_in">
    <i class="close icon"></i>

    <div class="header">
        Sign in with your email and password
    </div>
    <div class="content">
        <div class="description">
            <div class="ui error message" id="signin_error">
                <div class="header" id="signin_error_title">Network error</div>
                <p id="signin_error_message">Can't connect to the login server.</p>
            </div>
            <div class="ui form" id="login_form">
                <div class="field">
                    <label>Email</label>
                    <input type="email" name="email" id="signin_email">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input type="password" name="password" id="signin_password">
                </div>
                {% csrf_token %}
            </div>
        </div>
    </div>

    <div class="actions">
        <div class="ui positive right labeled icon button" id="btn_signin_action">
            Sign in!
            <i class="sign in icon"></i>
        </div>
        <div class="ui black button">
            Close
        </div>
    </div>
</div>

<div class="ui fullscreen modal" id="modal_picture">
    <i class="close icon"></i>

    <div id="detail_img_loader_2">
        <div class="ui active dimmer">
            <div class="ui mini text loader">Loading</div>
        </div>
    </div>
    <!--<div class="header">-->
    <!--Sign in with your email and password-->
    <!--</div>-->
    <div class="content">
        <div class="ui grid">

            <div class="ten wide column">
                <img width="100%" src="https://s3.amazonaws.com/footprint.linhuang/winter3.jpg" id="detail_img_src">
                Rating: <span id="detail_img_avg_rating"></span>

                <div id="detail_img_rating"></div>
            </div>
            <div class="six wide column">
                <h3 class="ui dividing header">Similar pictures</h3>

                <div class="ui grid">
                    <div class="four wide column"><img width="100%"
                                                       class="ui medium rounded image detail_img_similar_pic"
                                                       photoid="0"
                                                       src="https://s3.amazonaws.com/footprint.linhuang/winter3.jpg"
                                                       id="detail_img_similar_0">
                    </div>
                    <div class="four wide column"><img width="100%"
                                                       class="ui medium rounded image detail_img_similar_pic"
                                                       photoid="0"
                                                       src="https://s3.amazonaws.com/footprint.linhuang/winter3.jpg"
                                                       id="detail_img_similar_1">
                    </div>
                    <div class="four wide column"><img width="100%"
                                                       class="ui medium rounded image detail_img_similar_pic"
                                                       photoid="0"
                                                       src="https://s3.amazonaws.com/footprint.linhuang/winter3.jpg"
                                                       id="detail_img_similar_2">
                    </div>
                    <div class="four wide column"><img width="100%"
                                                       class="ui medium rounded image detail_img_similar_pic"
                                                       photoid="0"
                                                       src="https://s3.amazonaws.com/footprint.linhuang/winter3.jpg"
                                                       id="detail_img_similar_3">
                    </div>


                </div>
                <div class="ui grid">
                    <div class="sixteen wide column">

                        <h3 class="ui dividing header">Description</h3>


                        <div id="detail_img_description">
                            detail_img_description
                        </div>
                    </div>
                    <div class="sixteen wide column">
                        <h3 class="ui dividing header">Comments</h3>

                        <div class="ui comments">

                            <div id="detail_img_comments">
                                <div class="comment">
                                    <a class="avatar">
                                        <img src="static/image/footprint.png">
                                    </a>

                                    <div class="content">
                                        <a class="author">Matt</a>

                                        <div class="metadata">
                                            <span class="date">Today at 5:42PM</span>
                                        </div>
                                        <div class="text">
                                            How artistic!
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <form class="ui reply form">
                                <div class="field">
                                    <textarea id="comment_text"></textarea>
                                </div>
                                <input type="hidden" id="comment_img_id">

                                <div class="ui blue labeled icon button" id="btn_add_comment">
                                    <i class="icon edit"></i> <span id="span_add_reply">Add Reply</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="actions">-->
    <!--<div class="ui black button">-->
    <!--Close-->
    <!--</div>-->
    <!--</div>-->

</div>

<script type="text/javascript">
    $('#btn_signup').click(function () {
        $('#signup_error').hide();
        $('#signup_email').val("");
        $('#signup_password').val("");
        $('#signup_nickname').val("");
        $('#modal_sign_up').modal({
            onApprove: function () {
                $('#signup_form').form('validate form');
                return false;
            }
        }).modal('show');
    });

    $('#btn_signin').click(function () {
        $('#signin_error').hide();
        $('#signin_email').val("");
        $('#signin_password').val("");
        $('#modal_sign_in').modal({
            onApprove: function () {
                $('#login_form').form('validate form');
                return false;
            }
        }).modal('show');
    });

    $('#btn_logout').click(function () {

        $.ajax({
            type: 'GET',
            url: 'login?action=logout',
            success: function (response) {
                console.log(response);
                location.reload();
            },
            error: function (err) {

            },
            dataType: 'text'
        });
    });
    // Validate the login form.
    $('#login_form')
            .form({
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Please enter a email'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your password'
                        }
                    ]
                }
            }, {
                onSuccess: function () {
                    var email = $('#signin_email').val();
                    var password = $('#signin_password').val();
                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    $.ajax({
                        type: 'POST',
                        url: 'login',
                        data: {
                            'email': email,
                            'password': password,
                            'csrfmiddlewaretoken': token
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.type == true) {
                                $('.small.modal').modal('hide');
                                location.reload();
                            } else {
                                console.log("f");
                                $('#signin_error_title').html(response.title);
                                $('#signin_error_message').html(response.message);
                                $('#signin_error').show('fast');
                            }

                        },
                        error: function (err) {
                            console.log(err);
                            $('#signin_error').show('fast');
                            return false;
                        },
                        dataType: 'json'
                    });
                }

            });

    // Validate the register form.
    $('#signup_form')
            .form({
                email: {
                    identifier: 'email',
                    rules: [
                        {
                            type: 'email',
                            prompt: 'Please enter a email'
                        }
                    ]
                },
                password: {
                    identifier: 'password',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your password'
                        }
                    ]
                },
                nickname: {
                    identifier: 'nickname',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter your nickname'
                        }
                    ]
                }
            }, {
                onSuccess: function () {
                    var email = $('#signup_email').val();
                    var password = $('#signup_password').val();
                    var nickname = $('#signup_nickname').val();
                    var token = $('input[name=csrfmiddlewaretoken]').val();
                    $.ajax({
                        type: 'POST',
                        url: 'signup',
                        data: {
                            'email': email,
                            'password': password,
                            'nickname': nickname,
                            'csrfmiddlewaretoken': token
                        },
                        success: function (response) {
                            console.log(response);
                            if (response.type == true) {
                                $('.small.modal').modal('hide');
                                location.reload();
                            } else {
                                $('#signup_error_title').html(response.title);
                                $('#signup_error_message').html(response.message);
                                $('#signup_error').show('fast');
                            }

                        },
                        error: function (err) {
                            console.log(err);
                            $('#signup_error').show('fast');
                            return false;
                        },
                        dataType: 'json'
                    });
                }

            });

    $('#btn_add_comment').click(function () {
        var token = $('input[name=csrfmiddlewaretoken]').val();
        var comment_text = $('#comment_text').val();
        var photoId = $('#comment_img_id').val();
        $.ajax({
            type: 'POST',
            url: 'postComment',
            data: {
                'photoId': photoId,
                'text': comment_text,
                'csrfmiddlewaretoken': token
            },
            beforeSend: function() {
                $('#span_add_reply').html("Submitting...");
            },
            success: function (response) {
                if (response['success']) {
                    var one_comment = '<div class="comment"> <a class="avatar"><img src="static/image/footprint.png"></a><div class="content"><a class="author">';
                    one_comment += '{{ info.nickName }}</a><div class="metadata"><span class="date">';
                    one_comment += 'Just now</span></div><div class="text">'
                    one_comment += comment_text + '</div></div></div>';
                    if ($('#detail_img_comments').html() == "No comment. Be the first one!") {
                        $('#detail_img_comments').html(one_comment);
                    } else {
                        $('#detail_img_comments').append(one_comment);
                    }
                    $('#comment_text').val("");
                } else {
                    alert(response.error);
                }
                $('#span_add_reply').html("Add reply");
            },
            error: function (err) {
                console.log(err);
            },
            dataType: 'json'
        });
    });
    var opening = false;
    $('.detail_img_similar_pic').click(function () {
        var id = $(this).attr('photoid');
        if (opening == false) {
            $.ajax({
            type: 'GET',
            url: 'getSinglePhoto',
            data: {
                'photoId': id
            },
            beforeSend: function () {
                $('#detail_img_loader_2').show();
            },
            success: function (data) {
                $('#detail_img_src').attr('src', data.url);
                $('#detail_img_similar_0').attr('src', data.similarPhotos[0].url);
                $('#detail_img_similar_1').attr('src', data.similarPhotos[1].url);
                $('#detail_img_similar_2').attr('src', data.similarPhotos[2].url);
                $('#detail_img_similar_3').attr('src', data.similarPhotos[3].url);
                $('#detail_img_similar_0').attr('photoid', data.similarPhotos[0].photoId);
                $('#detail_img_similar_1').attr('photoid', data.similarPhotos[1].photoId);
                $('#detail_img_similar_2').attr('photoid', data.similarPhotos[2].photoId);
                $('#detail_img_similar_3').attr('photoid', data.similarPhotos[3].photoId);
                $('#detail_img_description').html(data.content);
                $('#comment_text').val('');
                $('#comment_img_id').val(id);
                //console.log(data);
                $('#detail_img_rating').html('<div class="ui star rating" id="' + id + '"></div>');
                $('#detail_img_avg_rating').html(data.avgRank);
                $('.ui.rating')
                        .rating({
                            initialRating: data.rating,
                            maxRating: 5,
                            onRate: function (value) {
                                var photoId = $(this).attr('id');
                                var token = $('input[name=csrfmiddlewaretoken]').val();

                                $.ajax({
                                    type: 'POST',
                                    url: 'postRating',
                                    data: {
                                        'rating': value,
                                        'photoId': photoId,
                                        'csrfmiddlewaretoken': token
                                    },
                                    success: function (response) {
                                        if (response['success']) {

                                        } else {
                                            //alert(response.error);
                                        }
                                    },
                                    error: function (err) {
                                        console.log(err);
                                    },
                                    dataType: 'json'
                                });
                            }
                        });
                var comments = data.comments;
                var comment_html = "No comment. Be the first one!";
                if (comments.length > 0) {
                    comment_html = "";
                    for (var i = 0; i < comments.length; i++) {
                        var comment = comments[i];
                        var one_comment = '<div class="comment"> <a class="avatar"><img src="static/image/footprint.png"></a><div class="content"><a class="author">';
                        one_comment += comment.title + '</a><div class="metadata"><span class="date">';
                        one_comment += comment.date + '</span></div><div class="text">'
                        one_comment += comment.content + '</div></div></div>';
                        comment_html += one_comment;
                    }
                }
                $('#detail_img_comments').html(comment_html);
                $('#modal_picture').modal('refresh');
                $('#detail_img_loader_2').hide();
                opening = false;
            },
            error: function (err) {
                console.log(err);
            },
            dataType: 'json'
        });
        }

    });
</script>
    <div id="detail_img_loader">
        <div class="ui active dimmer">
            <div class="ui mini text loader">Loading</div>
        </div>
    </div>
</body>
</html>